@model E_Learning_Platform.Models.ViewModel.DetailsModel

@{
    ViewBag.Title = "Details";
    //ViewBag.user = "Student";
}
<head>
    <link href="~/Content/Register.css" rel="stylesheet" />
</head>
@if (Convert.ToInt32(TempData["role"]) == 1016)
{
    <div>
        @using (Html.BeginForm("TeacherDetails", "Login", "Post"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(u => u.UserId)
            <div class=" gap-3 d-flex flex-column align-items-center pb-2 pt-2 border-2 rounded-2 border-dark reg">
                <h4>Teacher Details</h4>
                <div class="container w-75 ">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Qualification</label>
                        <div class="w-100">
                            @Html.DropDownListFor(m => m.Qualification, ViewBag.qualifications as SelectList, "--Select Qualification--", new { @class = "form-control text-center" })
                        </div>
                    </div>
                </div>
                <div class="container w-75 ">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Department</label>
                        <div class="w-100">
                            @Html.DropDownListFor(m => m.DepartmentId, ViewBag.department as SelectList, "--Select Qualification--", new { @class = "form-control text-center" })
                        </div>
                    </div>
                </div>
                <div class="container w-75">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Subject</label>
                        <div class="w-100">
                            @Html.TextBoxFor(m => m.SubjectExpertise, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="container w-75">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Gender</label>
                        <div class="w-100 d-flex gap-5">
                            <div>@Html.RadioButtonFor(g => g.Gender, "Male", new { @id = "male" })<label for="male" class="px-2">Male</label></div>
                            <div>@Html.RadioButtonFor(g => g.Gender, "Female", new { @id = "female" })<label for="female" class="px-2">Female</label></div>
                            <div>@Html.RadioButtonFor(g => g.Gender, "Other", new { @id = "other" })<label for="other" class="px-2">Other</label></div>

                        </div>
                    </div>
                </div>


                <div>
                    <button class="btn btn-primary">Create Profile</button>
                </div>

            </div>

        }
    </div>
}
else if (Convert.ToInt32(TempData["role"]) == 1014)
{
    //-- Student Details Registration Form --
    <div>
        @using (Html.BeginForm("StudentDetails", "Login", "Post"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(u=>u.UserId)
            <div class=" gap-3 d-flex flex-column align-items-center pb-2 pt-2 border-2 rounded-2 border-dark reg">
                <h4>Student Details</h4>
                <div class="container w-75 ">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Father Name</label>
                        <div class="w-100">
                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="container w-75">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Mother Name</label>
                        <div class="w-100">
                            @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="container w-75">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Address</label>
                        <div class="w-100">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="container w-75 ">
                    <label class="d-block text-danger">@TempData["warning"]</label>
                    <div class="w-100 d-sm-block d-lg-flex">
                        <label for="role" class="w-50">Select Your Course</label>
                        <div class="w-100">
                            @Html.DropDownListFor(m => m.CourseId, ViewBag.courses as SelectList, "--Select Course--", new { @class = "form-control text-center" })
                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn btn-primary">Create Profile</button>
                </div>

            </div>

        }
    </div>



}
