@model E_Learning_Platform.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
@Html.Raw(TempData["msg"])

<html>
<head>
    <link href="~/Content/LoginSignUp.css" rel="stylesheet" />
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        #main {
            height: 100vh;
            width: 99vw;
            margin: 0px;
            display: flex;
            /*justify-content: center;
            align-items: center;
            background-image: url("/photo/e learning_pic.png");
            background-repeat: no-repeat;
            background-size: cover;
            backdrop-filter: blur(10px);*/
        }

        #login {
            height: 300px;
            width: 550px;
            color: black;
            font-family: Algerian;
            font-size: larger;
            display: flex;
            /*            justify-content: center;
            align-items: center;*/
            text-align: center;
            position: absolute;
            top: 32%;
            left: 12%;
            background-color: transparent;
            backdrop-filter: blur(12px);
            box-shadow: 3px 3px 10px black;
            border: 2px solid white;
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: 10px;
            /*    background-image: url("/image/background1.jpg");*/
        }

        #welcome {
            color: rgb(115 39 139);
            position: absolute;
            top: 10%;
            left: 10%;
            font-size: 60px;
            font-family: Elephant;
        }

        #resg {
            font-size: 16px;
            font-family: Arial;
            color: ghostwhite;
        }

        #new {
            color: dodgerblue;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("Login", "Login", "post"))
    {
        <div id="main">
            <img src="~/photo/e learning_pic.png" class="h-100 w-100 " alt="..." />
            <div id="welcome">
                Welcome To E-Learning Platform
            </div>

            <div id="login">

                @Html.AntiForgeryToken()
                @Html.Raw(ViewBag.msg)

                <div id="user_id">
                    <label> Enter your mail  : </label>
                    @Html.TextBoxFor(m => m.Identifier, new { placeholder = "Mail or Phone" })
                </div>
                <div id="password">
                    <label> Enter  password  :</label>
                    @Html.PasswordFor(prop => prop.Password, new { placeholder = "Password" })
                </div>
                <div>
                    <button  color:aliceblue;" class="w-50 e-bth">LOG IN</button>
                    <br /> <span id="resg">Don't have a account? <a href="@Url.Action("Register","Login")" id="new">Create New </a> </span>
                </div>


            </div>
        </div>



    }

</body>
</html>
